.edit-form{
    display: flex;
    background-color: rgb(238, 230, 217);
    justify-content: center;
    align-items: center;
    padding: 30px;
    max-width: 500px;
    border-radius: 10px;
    border:double red;
}
.wrapper-page{
    z-index: 99999;
    display: flex;
    align-items: center;
    justify-content: center;
}
form{
    display: flex;
    flex-direction: column;
}

.btn-mod input{
    margin-left: 1vi;
}
.btn-mod .cancel{
    background-color: rgb(192, 192, 192);
     padding: 10px;
    border-radius: 10px;
    margin-top: 2vi;
}
